.mc-notification {
  position: fixed;
  z-index: 1000;
  width: 335px;
  margin-right: 24px;
}
.mc-notification-notice {
  padding: 16px;
  border-radius: 3px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);
  border: none;
  line-height: 1.5;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
  background: #f55;
  color: #fff;
}
.mc-notification-notice-content-message {
  font-size: 14px;
  color: #666;
  margin-bottom: 4px;
}
.mc-notification-notice-content-description {
  font-size: 14px;
  color: #fff;
}
.mc-notification-notice-content-icon {
  position: relative;
}
.mc-notification-notice-content-icon-message {
  font-size: 14px;
  color: #666;
  margin-left: 51px;
  margin-bottom: 4px;
}
.mc-notification-notice-content-icon-description {
  margin-left: 51px;
  font-size: 14px;
  color: #999;
}
.mc-notification-notice-content-icon-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -17px;
  font-size: 34px;
}
.mc-notification-notice-content-icon-icon-success {
  color: #87d068;
}
.mc-notification-notice-content-icon-icon-info {
  color: #23b7e5;
}
.mc-notification-notice-content-icon-icon-warn {
  color: #fad733;
}
.mc-notification-notice-content-icon-icon-error {
  color: #f05050;
}
.mc-notification-notice-close-x:after {
  font-size: 12px;
  content: "\D7";
  font-family: "upicon";
  cursor: pointer;
}
.mc-notification-notice-close {
  position: absolute;
  right: 5px;
  top: 0px;
  color: #efefef;
  outline: none;
}
.mc-notification-notice-content-btn {
  float: right;
  margin-top: 16px;
}
.mc-notification .notification-fade-effect {
  animation-duration: 0.1s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.mc-notification-fade-enter,
.mc-notification-fade-appear {
  opacity: 0;
  animation-duration: 0.1s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.mc-notification-fade-leave {
  animation-duration: 0.1s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.mc-notification-fade-enter.mc-notification-fade-enter-active,
.mc-notification-fade-appear.mc-notification-fade-appear-active {
  animation-name: NotificationFadeIn;
  animation-play-state: running;
}
.mc-notification-fade-leave.mc-notification-fade-leave-active {
  animation-name: NotificationFadeOut;
  animation-play-state: running;
}
@keyframes NotificationFadeIn {
  0% {
    opacity: 0;
    left: 335px;
  }
  30% {
    left: 0;
    opacity: 0.6;
  }
  60% {
    left: 0;
    opacity: 0.8;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes NotificationFadeOut {
  0% {
    opacity: 1;
    margin-bottom: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    max-height: 150px;
  }
  100% {
    opacity: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
  }
}