@import "~@meili/merchant-theme/lib/variables.less";

.mc-field-group{
	*:focus{
		outline: 0 !important;
	}

	.mc-field-label{
		float:left;
		width:126px;
		text-align:right;
		font-size:13px;
		color:@font-color-base;
		height:40px;
		line-height:40px;
		padding-right: 9px;
	}

	.mc-field-body{
		float:left;
		position:relative;
		display: -webkit-inline-box;
	}

	.mc-field-subInfo{
		float:left;
		height:40px;
		line-height:40px;
		font-size:12px;
		color:@font-color-lter;
		margin-left:10px;
	}

	.mc-field-errorMsg{
		display:none;
	}

	:-moz-placeholder, ::-moz-placeholder, input:-ms-input-placeholder, textarea:-ms-input-placeholder, input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	    color: @font-color-lter;
	}

	.require{
		font-size:20px;
		color:@color-danger-base;
		margin-right:5px;
		vertical-align: sub;
	}
}

.mc-field-invaild {
	.mc-field-errorMsg{
		display: inline-table;
		position: absolute;
		top: -2px;
	    z-index: 99;
	    width:300px;
    }

    .mc-field-errormsg-content{
    	font-size: 13px;
	    color: @color-warning-dk;
	    background: @color-warning-lt40;
		border: 1px solid @color-warning-lter;
		border-radius: 4px;
	    padding: 5px;
	    line-height: 25px;
	    margin-left: 8px;
	    display:inline-block;
	    position:absolute;
	    width:auto;
    }

    .mc-field-error-arrow{
    	position: absolute;
    	z-index: 100;

    	.mc-field-arrow-color{
		    display: inline-block;
		    border-width: 8px;
		    border-color: transparent @color-warning-lt40 transparent transparent;
		    border-style: dashed solid dashed dashed;
		    border-left: none;
		    margin-top: 8px;
		}

		.mc-field-arrow-border{
		    display: inline-block;
		    border-width: 8px;
		    border-color: transparent @color-warning-lter transparent transparent;
		    border-style: dashed solid dashed dashed;
		    border-left: none;
		    margin-left: -8px;
		}

		.mc-field-arrow{
		    display: inline-block;
		    border-width: 8px;
		    border-color: transparent @color-warning-lt40 transparent transparent;
		    border-style: dashed solid dashed dashed;
		    border-left: none;
		    margin-left: -7px;
		}
    }

    .mc-field-error{
		box-shadow: 0px 0px 5px @color-danger-lt;
	    border-color: @color-danger-lt;
	    background-color:@color-danger-lt40;
	}

    .mc-radio-error, .mc-checkbox-error{
		box-shadow: 0px 0px 5px @color-danger-lter;
	    border-color: @color-danger-lter !important;
	    background-color:@color-danger-lt40;
	}
}