.wrap{
	display: inline-block;
	padding: 6px 10px;
	border-radius: 5px;
}

.default{
	color: rgb(69,69,69);
	background: rgb(229,229,229);
	border: rgb(214,214,214);	
}

.red{
	color: #fff;
	background: rgb(255,0,64);
}

.blue{
	color: #fff;
	background: rgb(48,131,251);
}

.green{
	color: #fff;
	background: rgb(74,192,137);
}

.circle{
	border-radius: 20px;
}

.closeBtn{
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
}

