{	
	"env": {
	    "browser": true,
	    "es6": true
	},
	"parser": "babel-eslint",
	"extends": "airbnb",
	"rules": {
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
		"react/jsx-indent": ["error", 4 ],
		"jsx-quotes": ["error", "prefer-single"],
		"indent": ["error", 4],
		"space-before-function-paren": ["error", "always"],
		"react/prefer-stateless-function": [0],
		"comma-dangle": ["error", "never"],
		"react/forbid-prop-types": ["error", { "forbid": [] }],
		"arrow-body-style": [0],
		"jsx-a11y/no-static-element-interactions": [0],
		"array-callback-return": [0],
		"react/jsx-no-target-blank": [0],
		"import/no-extraneous-dependencies": [0],
		"import/no-unresolved": [0],
		"import/extensions": [0],
		"max-len": ["error", 200],
		"func-names": ["off", "as-needed"],
		"no-script-url": [0],
		"react/no-unused-prop-types": [0],
		"no-nested-ternary": [0],
		"react/no-multi-comp": [0],
		"no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
		"class-methods-use-this": ["off"],
		"no-unused-expressions": ["error", {"allowShortCircuit": true, "allowTernary": true }],
		"react/jsx-indent-props": ["warn", 4],
		"react/no-find-dom-node": ["off"]
		"no-restricted-syntax": ["error", "WithStatement"]
	}
}
