@import "include/_variables";

.FocusStyle () {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: @color-primary;
}

.transition(@proper,@during) {
    -webkit-transition: @proper ease-in-out @during;
    -o-transition: @proper ease-in-out @during;
    transition: @proper ease-in-out @during;
}

.xd-label {
    display: inline-block;
    line-height: 30px;
    text-align: right;
    vertical-align: top;

    &.required {
        padding-right: 10px;

        &:after {
            content: '*';
            color: @color-primary;
        }
    }
}

.xd-option {
    display: inline-block;
    margin-right: 10px;
    line-height: 30px;

    &.block {
      display: block;
      margin-bottom: 10px;
    }

    .xd-input, .xd-select {
        margin: 0 5px;
        width: 150px;
    }
}

.xd-form-group {
  margin-bottom: 20px;
}

.xd-form-inline {
  .xd-form-group {
    display: inline-block;
  }
}

.xd-form-action {
  margin-top: 30px;
  padding-left: 80px;
}

.xd-field {
    display: inline-block;
    line-height: 30px;
    position: relative;
}

.xd-form-tip {
  display: none;
  position: relative;
  height: 30px;
  margin-left: 10px;
  padding-left: 20px;
  line-height: 30px;
  vertical-align: top;

    &:before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 18px;
        height: 18px;
        top: 6px;
        left: 0;
        background: url(@icon-spirit) no-repeat 0 0;
        vertical-align: middle;
    }

    .invalid & {
        display: inline-block;

        &:before {
          background-position: 0 0;
        }
    }
    .valid &:before {
        background-position: 0 -34px;
    }
}

.invalid {
  .xd-input, .xd-textarea, .xd-select {
    border-color: @color-primary;
  }
}
//i {
//  background: url(@icon-spirit) no-repeat 0 0;
//  display: block;
//  width: 20px;
//  height: 32px;
////  position: absolute;
////  right: -26px;
////  top: 0;
//
//  &.icon-search {
//    background-position: 0 -67px;
//    right: 5px;
//  }
//}

.xd-input, .xd-uploader {
    width: 200px;
    height: 30px;
    line-height: 30px;
    border: 1px solid @color-button-border;
    color: @color-text-primary;
    font-size: 14px;
    padding: 0 10px;

    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    .transition(border-color, 0.15s);

    &:focus {
        .FocusStyle();
    }
}

.xd-input.invalid {
    border-color: @color-primary;
    color: @color-text-primary;
}

.xd-input.disabled, .xd-input[disabled],
.xd-select.disabled, .xd-select[disabled] {
    background-color: @color-button-disabled;
    cursor: not-allowed;
    color: @color-text-helper;
}

.xd-select {
    width: 150px;
    height: 30px;
    line-height: 1.5;
    border: 1px solid @color-button-border;
    border-radius: 0;
    color: @color-text-primary;
    font-size: 14px;
    padding: 4px 35px 4px 10px;

    padding-right: 4px\0;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: url(http://s7.mogucdn.com/pic/150410/1blhwf_ieywgzrrgy3tcyjxgazdambqmeyde_29x30.png) right center no-repeat #fff;
    background-image: none\0;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    .transition(border-color, 0.15s);

    &:focus {
        .FocusStyle();
    }
}

.xd-textarea {
    display: block;
    border: 1px solid @color-button-border;
    color: @color-text-primary;
    font-size: 14px;
    padding: 10px;
    background: #fff;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    .transition(border-color, 0.15s);

    &:focus {
        .FocusStyle();
    }
}


.xd-radio {
    display: none;

    & + span {
        display: inline;
        font-size: 14px;
        cursor: pointer;
    }
    & + span::before {
        content: '';
        width: 18px;
        height: 18px;
        background: url(@input-spirit) 0 -36px no-repeat;
        display: inline-block;
        cursor: pointer;
        vertical-align: middle;
    }
    &:checked + span::before {
        content: '';
        background: url(@input-spirit) 0 0 no-repeat;
    }
    &:disabled + span,
    &:disabled + span::before {
        cursor: not-allowed;
    }
    &:disabled + span::before {
        content: '';
        background: url(@input-spirit) 0 -77px no-repeat;
    }
    &:disabled:checked + span::before {
        content: '';
        background: url(@input-spirit) 0 -121px no-repeat;
    }
}

.xd-checkbox {
    display: none;

    & + span {
        display: inline;
        font-size: 14px;
        cursor: pointer;
    }

    & + span::before {
        content: '';
        width: 18px;
        height: 18px;
        background: url(@input-spirit) -34px -36px no-repeat;
        display: inline-block;
        cursor: pointer;
        vertical-align: middle;
    }

    &:checked + span::before {
        content: '';
        background: url(@input-spirit) -34px 0 no-repeat;
    }

    &:disabled + span,
    &:disabled + span::before {
        cursor: not-allowed;
    }

    &:disabled + span::before {
        content: '';
        background: url(@input-spirit) -34px -77px no-repeat;
    }

    &:disabled:checked + span::before {
        content: '';
        background: url(@input-spirit) -34px -121px no-repeat;
    }
}

.xd-uploader {
    position: relative;
    width: 212px;
    height: 32px;
    background: #fff;
    overflow: hidden;
    padding: 0;

    .filename {
        width: 70%;
        color: @color-text-helper;
        float: left;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: default;
        position: relative;
        text-indent: 10px;
    }
    .action {
        width: 30%;
        text-align: center;
        background-color: @color-table-header;
        font-size: 14px;
        float: left;
        overflow: hidden;
        cursor: pointer;
        border-left: 1px solid @color-button-border;
    }
    input {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        float: right;
        height: 100%;
        border: none;
        cursor: default;
        width: 100%;
        z-index: 111;
    }
}

.xd-input, .xd-select {
  &.block {
    display: block;
    width: 100%;
  }
}

/** Yes, it's IE8 hack!**/
.xd-ie8 {
    .xd-radio,
    .xd-checkbox {
        display: inline;
        position: relative;
        top: 2px;
    }
}
