@import "~@meili/merchant-theme/lib/variables.less";
@import "~@meili/merchant-theme/lib/utils.less";
@import "~@meili/merchant-theme/lib/button.less";

@red : #ff2555;
@active: #E83150;
@disabled: #FF748C;

.modal-btn{
    min-width: 80px;
}
