.mc-select-box{
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    line-height: 36px;
    height: 36px;
    color: #555;
    width: 100%;
    padding-left: 15px;
    font-size: 13px;
    cursor: pointer;
    position: relative;
    .hide{
        display: none;
    }
    .drop-box{
        width: 100%;
        z-index: 99;
        background: #fff;
        position: absolute;
        top: 36px;
        left: 0;
        border: 1px solid #DEDEDE;
        border-radius: 5px;
        -moz-box-shadow:2px 2px 3px #eee,-2px 2px 3px #eee; 
        -webkit-box-shadow:2px 2px 3px #eee,-2px 2px 3px #eee; 
        box-shadow:2px 2px 3px #eee,-2px 2px 3px #eee;
    }
    ul{
        width: 100%; 
        padding-left: 0;
        border-bottom: 1px solid #DEDEDE;
        margin-bottom: 0;
        &:last-child{
            border-bottom: 0;
        }
    }
    li{
        list-style-type: none;
        padding-left: 15px;
        position: relative;
        &:hover{
            background: #F3F5F8; 
        }
    }
    ol{
        position: absolute;
        top: 0;
        left: 100%;
        background: #fff;
        border: 1px solid #DEDEDE;
        padding-left: 0;
        width: 100%;
        border-radius: 0 5px 5px 0;
        -moz-box-shadow:2px 2px 3px #eee; 
        -webkit-box-shadow:2px 2px 3px #eee; 
        box-shadow:2px 2px 3px #eee;
    }
    .sub-arrow{
        position: absolute;
        right: 15px;
        top: 0px;
    }
    .select-arrow{
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        right: 15px;
    }
    &.mc-select-dropDown{
        .select-arrow{
            top: 15px;
            border-top: 4px solid #666;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 4px solid transparent;
        }
    }
    &.mc-select-dropUp{
        background: #F3F5F8;
        .select-arrow{
            top: 11px;
            border-bottom: 4px solid #666;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid transparent;
        }
    }
    // 禁止点击状态
    &.select-disabled{
        background: #F3F5F8;
        color: #BBB;
        cursor: not-allowed;
        .select-arrow{
            border-top: 4px solid #BBB;
        }
    }
}