@import "~@meili/merchant-theme/lib/variables.less";

.mc-field-select{
	select::-ms-expand {
        display: none;
    }

	.mc-select-input{
		width: 300px;
        height: 36px;
        line-height: 1.5;
        border: 1px solid @color-light-dk;
        border-radius: 4px;
        color: @font-color-base;
        font-size:13px;
        padding:0px 20px 0px 5px;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        background: url(http://s16.mogucdn.com/p1/161130/idid_ifrdsztemy4tqyrymmzdambqmeyde_8x4.png) no-repeat #fff;
        background-position: 95% 15px;
        outline: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);

        &:hover {
            box-shadow: 0px 0px 5px @color-info-base;
            border-color: @color-info-base;
            background-color:@color-white;
        }

        &:focus {
            box-shadow: 0px 0px 5px @color-info-base;
		    border-color: @color-info-base;
		    background-color:#fff;
        }
	}

	.mc-select-input .disabled, .mc-select-input[disabled] {
        background-color: @color-light-base;
        cursor: not-allowed;
        color: @color-light-dk;

        &:focus {
            box-shadow: none;
            border-color: @color-light-dk;
            background-color: @color-light-base;
        }

        &:hover {
            box-shadow: none;
            border-color: @color-light-dk;
            background-color: @color-light-base;
        }
    }
}