.app-body {
	padding-top: 50px; 
	position: relative;
	display: table;
	table-layout: fixed;
	width: 100%;
    background: #fff;
	.app-sider {
		display: table-cell;
		width: 200px;
		height: 100%;
	    vertical-align: top;
	    overflow-x: hidden;
	    border-right: 1px solid #eee;
	    padding-bottom: 20px;
	    background: #fbfbfb;
	    &::-webkit-scrollbar {
			display: none;
	    }
	}
	.app-content {
		display: table-cell;
		padding: 20px;
	}
}
/* header css */
.app-header-bg (@color) {
	@color-dker: "color-@{color}-dker";
	@color-dk: "color-@{color}-dk";
	@color-base: "color-@{color}-base";
	@color-lt: "color-@{color}-lt";
	@color-lter: "color-@{color}-lter";

	&.bg-@{color} {
		background: @@color-base;
		.app-brand,
		.app-menu,
		.app-menu .menu-item,
		.app-menu .menu-item a,
		.app-user,
		.app-user a {
			color: #fff;
		}
		.app-menu {
			.menu-item {
				&.active {
					background: @@color-dk;
				}
				&:hover {
					background: @@color-dk;
				}
			}
		}
	}
}

.app-header {
	width: 100%;
}
.app-header-fixed {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
}
.app-header, .app-brand, .app-menu, .app-user {
	height: 50px;
	line-height: 50px;
}
.app-header {
	.clearfix();
	background: #fff;
	.app-brand {
		width: 200px;
		float: left;
		display: block;
		text-align: center;
		color: @font-color-dk;
		font-size: @font-size-xl;
		font-weight: bold;
	}
	.app-menu {
		float: left;
		margin-left: 20px;
		.menu-item {
			float: left;
			display: block;
			padding: 0 15px;
			color: @font-color-base;
			a {
				display: block;
				color: @font-color-base;
			}
			transition: background 0.3s;
			&.active {
				background: @color-light-base;
			}
			&:hover {
				background: @color-light-base;
			}
		}
	}
	.app-user {
		float: right;
		display: block;
		padding: 0 15px;
		color: @font-color-base;
		a {
			display: block;
			color: @font-color-base;
		}
	}
	.app-header-bg(info);
	.app-header-bg(dark);
	.app-header-bg(danger);
	.app-header-bg(warning);
	.app-header-bg(success);
}


/* sider css */
.app-sider {
	.app-sider-content {
		position: fixed;
		top: 50px;
		width: 200px;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		padding-bottom: 100px;
		&::-webkit-scrollbar {
			display: none;
	    }
	}
	.app-sider-item {
		&.active {
			background: #fff;
		}
		&:hover {
			background: #fff;
		}
	}
}
