@import "~@meili/merchant-theme/lib/variables.less";
@import "~@meili/merchant-theme/lib/panel.less";

.mc-panel {
    .panel-header {
        h3 {
            padding: 0;
            margin: 0;
            font-weight: normal;
        }
        .mc-title {
            display: inline-block;
            font-size: 16px;
        }
    }
    .panel-body {
        padding: 20px;
    }
    .panel();
}
