
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1487060640043'); /* IE9*/
  src: url('iconfont.eot?t=1487060640043#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1487060640043') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1487060640043') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1487060640043#iconfont') format('svg'); /* iOS 4.1- */
}

.yy-iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yy-icon-icon4:before { content: "\e622"; }

.yy-icon-checkbox:before { content: "\e602"; }

.yy-icon-radio:before { content: "\e648"; }

.yy-icon-select:before { content: "\e67e"; }

.yy-icon-radio1:before { content: "\e64b"; }

.yy-icon-checkbox1:before { content: "\f011b"; }

.yy-icon-timepickertool:before { content: "\e6aa"; }

.yy-icon-plus-select-down:before { content: "\e710"; }

.yy-icon-datepicker:before { content: "\e632"; }

