@import "../../_theme/variables";
@import "../../_theme/iconfont";

.mc-time-picker {
	box-sizing: border-box;
}
.mc-time-picker * {
	box-sizing: border-box;
}
.mc-time-picker-panel {
	max-width: 168px;
	z-index: 1070;
	position: absolute;
}
.mc-time-picker-panel.slide-mc-enter.slide-mc-enter-active.mc-time-picker-panel-placement-topLeft,
.mc-time-picker-panel.slide-mc-enter.slide-mc-enter-active.mc-time-picker-panel-placement-topRight,
.mc-time-picker-panel.slide-mc-appear.slide-mc-appear-active.mc-time-picker-panel-placement-topLeft,
.mc-time-picker-panel.slide-mc-appear.slide-mc-appear-active.mc-time-picker-panel-placement-topRight {
	animation-name: antSlideDownIn;
}
.mc-time-picker-panel.slide-mc-enter.slide-mc-enter-active.mc-time-picker-panel-placement-bottomLeft,
.mc-time-picker-panel.slide-mc-enter.slide-mc-enter-active.mc-time-picker-panel-placement-bottomRight,
.mc-time-picker-panel.slide-mc-appear.slide-mc-appear-active.mc-time-picker-panel-placement-bottomLeft,
.mc-time-picker-panel.slide-mc-appear.slide-mc-appear-active.mc-time-picker-panel-placement-bottomRight {
	animation-name: antSlideUpIn;
}
.mc-time-picker-panel.slide-mc-leave.slide-mc-leave-active.mc-time-picker-panel-placement-topLeft,
.mc-time-picker-panel.slide-mc-leave.slide-mc-leave-active.mc-time-picker-panel-placement-topRight {
	animation-name: antSlideDownOut;
}
.mc-time-picker-panel.slide-mc-leave.slide-mc-leave-active.mc-time-picker-panel-placement-bottomLeft,
.mc-time-picker-panel.slide-mc-leave.slide-mc-leave-active.mc-time-picker-panel-placement-bottomRight {
	animation-name: antSlideUpOut;
}
.mc-time-picker-panel {
	min-width: 168px;
}
.mc-time-picker {
	position: relative;
	display: inline-block;
	outline: none;
	font-size: @font-size-base;
	transition: opacity 0.3s ease;
}
.mc-time-picker-input {
	position: relative;
	display: inline-block;
	padding: 4px 7px;
	width: 100%;
	height: 34px;
	cursor: text;
	font-size: @font-size-base;
	line-height: 1.5;
	color: @font-color-base;
	background-color: #fff;
	background-image: none;
	border: 1px solid @btn-border-color;
	border-radius: @btn-border-radius;
	-webkit-transition: border .2s cubic-bezier(0.645, 0.045, 0.355, 1), background .2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow .2s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition: border .2s cubic-bezier(0.645, 0.045, 0.355, 1), background .2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow .2s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: border .2s cubic-bezier(0.645, 0.045, 0.355, 1), background .2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow .2s cubic-bezier(0.645, 0.045, 0.355, 1);
	width: 120px;
}
.mc-time-picker-input::-moz-placeholder {
	color: @font-color-lter;
	opacity: 1;
}
.mc-time-picker-input:-ms-input-placeholder {
	color: @font-color-lter;
}
.mc-time-picker-input::-webkit-input-placeholder {
	color: @font-color-lter;
}
.mc-time-picker-input:hover {
	border-color: @color-info-base;
	outline: 0;
	box-shadow: 0px 0px 5px @color-info-base;
}
.mc-time-picker-input:focus {
	border-color: @color-info-base;
	outline: 0;
	box-shadow: 0px 0px 5px @color-info-base;
}
.mc-time-picker-input[disabled],
fieldset[disabled] .mc-time-picker-input {
	background-color: @btn-disabled-color;
	opacity: 1;
	cursor: not-allowed;
}
.mc-time-picker-input[disabled]:hover,
fieldset[disabled] .mc-time-picker-input:hover {
	box-shadow: 0px 0px 5px @btn-border-color;
    border-color: @btn-border-color;
    background-color: @btn-disabled-color;
}
textarea.mc-time-picker-input {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}
.mc-time-picker-large .mc-time-picker-input {
	padding: 6px 7px;
	height: 40px;
}
.mc-time-picker-small .mc-time-picker-input {
	padding: 1px 7px;
	height: 28px;
	border-radius: 4px;
}
.mc-time-picker-open {
	opacity: 0;
}
.mc-time-picker-icon {
	position: absolute;
	user-select: none;
	-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	width: 12px;
	height: 12px;
	line-height: 12px;
	right: 8px;
	color: @font-color-base;
	top: 50%;
    margin-top: -6px;
    background: url(http://s16.mogucdn.com/p1/170210/idid_ifqwimlcmnsgmzdgmqzdambqgyyde_28x108.png);
    background-position: 0px -33px;
    background-size: 100%;
}

.mc-time-picker-panel-inner {
	display: inline-block;
	position: relative;
	outline: none;
	border: 1px solid @btn-border-color;
	list-style: none;
	font-size: 12px;
	text-align: left;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 0 4px @btn-border-color;
	background-clip: padding-box;
	line-height: 1.5;
}
.mc-time-picker-panel-input {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	cursor: auto;
	line-height: 1.5;
	outline: 0;
}
.mc-time-picker-panel-input-wrap {
	box-sizing: border-box;
	position: relative;
	padding: 6px;
	border-bottom: 1px solid @btn-border-color;
}
.mc-time-picker-panel-input-invalid {
	border-color: red;
}
.mc-time-picker-panel-clear-btn {
	position: absolute;
	right: 5px;
	cursor: pointer;
	overflow: hidden;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	top: 5px;
	margin: 0;
}
.mc-time-picker-panel-clear-btn:after {
	.iconfont();
	content: "\e646";
	font-size: 12px;
	color: @font-color-base;
	display: inline-block;
	line-height: 1;
	width: 20px;
}
.mc-time-picker-panel-clear-btn:hover:after {
	color: @font-color-lter;
}
.mc-time-picker-panel-narrow .mc-time-picker-panel-input-wrap {
	max-width: 111px;
}
.mc-time-picker-panel-select {
	float: left;
	font-size: 12px;
	border: 1px solid @btn-border-color;
	border-width: 0 1px;
	margin-left: -1px;
	box-sizing: border-box;
	width: 56px;
	overflow: hidden;
	position: relative;
}
.mc-time-picker-panel-select:hover {
	overflow-y: auto;
}
.mc-time-picker-panel-select:first-child {
	border-left: 0;
	margin-left: 0;
}
.mc-time-picker-panel-select:last-child {
	border-right: 0;
}
.mc-time-picker-panel-select ul {
	list-style: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	max-height: 144px;
}
.mc-time-picker-panel-select li {
	list-style: none;
	box-sizing: content-box;
	margin: 0;
	padding: 0 0 0 16px;
	width: 100%;
	height: 24px;
	line-height: 24px;
	text-align: left;
	cursor: pointer;
	user-select: none;
	transition: background 0.3s ease;
}
.mc-time-picker-panel-select li:hover {
	background: @color-danger-lter;
	color: @color-white;
}
.mc-time-picker-panel-select li.mc-time-picker-panel-select-option-selected {
	background: @color-danger-base;
	color: @color-white;
}
.mc-time-picker-panel-select li.mc-time-picker-panel-select-option-disabled {
	color: @btn-disabled-color;
}
.mc-time-picker-panel-select li.mc-time-picker-panel-select-option-disabled:hover {
	background: transparent;
	cursor: not-allowed;
}