.lazy-load-example {
    h2 {
        text-align: center;
    }
    .top {
        height: 800px;
        width: 100%;
        background: #999;
    }
    .pic {
        img {
            height: 200px;
        }
    }
    .palceholder {
        height: 200px;
        text-align: center;
        line-height: 200px;
        background: #E2E2E2;
        color: #333;
    }
}