@import "../../../_theme/variables";

.mc-field-text{
	.mc-textarea-input{
		height:100px;
		width:450px;
		border:1px solid @color-light-dk;
		border-radius:4px;
		background-color:@color-white;
		font-size:13px;
		color:@font-color-base;
		padding:10px;
		resize:none;

		&:hover {
            box-shadow: 0px 0px 5px @color-info-base;
		    border-color: @color-info-base;
		    background-color:@color-white;
        }

		&:focus {
            box-shadow: 0px 0px 5px @color-info-base;
		    border-color: @color-info-base;
		    background-color:@color-white;
        }
	}

	.mc-textarea-input[disabled] {
        background-color: @color-light-base;
        cursor: not-allowed;
        color: @color-light-dk;

        &:focus {
            box-shadow: none;
		    border-color: @color-light-dk;
		    background-color: @color-light-base;
        }

        &:hover {
            box-shadow: none;
		    border-color: @color-light-dk;
		    background-color: @color-light-base;
        }
    }
}