.cm-page-nav {
	height:40px;
	padding-top:5px;
	li {
		float:left;
		margin-right:40px;
		list-style: none;
		padding: 0;
		&:hover a{
			border-bottom:2px solid #c4c4c4;
		}
	}
	li a {
		display:block;
		height:40px;
		color:#333;
		line-height:40px;
	}
	li.active a {
		border-bottom:2px solid #f55;
	}
}

