@import "~@meili/merchant-theme/lib/variables.less";

.theme-style (@color) {
    @color-base: "color-@{color}-base";
    &.mc-tab-@{color} {
        .mc-tab-nav li {
            &.active {
                a {
                    border-bottom: 2px solid @@color-base;
                }
            }
        }
    }
}

.mc-tab-wrapper {
    .mc-tab-nav {
        position: relative;
        border-bottom: 1px solid #E5E5E5;
        padding: 0;
        li {
            position: relative;
            top: 1px;
            float: left;
            margin-right: 40px;
            list-style: none;
            &.active {
                a {
                    border-bottom: 2px solid @color-danger-base;
                }
            }
            a {
                display: block;
                color: #333;
                padding-bottom: 5px;
            }
        }
    }
    .theme-style(danger);
    .theme-style(info);
    .theme-style(success);
    .theme-style(dark);
    .theme-style(warning);
}