.mc-tab-wrapper {
    .mc-tab-nav {
        position: relative;
        border-bottom: 1px solid #E5E5E5;
        padding: 0;
        li {
            position: relative;
            top: 1px;
            float: left;
            margin-right: 40px;
            list-style: none;
            &.active {
                a {
                    border-bottom: 2px solid #F55;
                }
            }
            a {
                display: block;
                color: #333;
                padding-bottom: 5px;
            }
        }
    }
}